:host {
  display: block;
  height: 100%;
}

.card-content {
  padding: 1rem;
}

.text-white {
  color: white;
}

.text-400 {
  color: var(--text-color-secondary);
}

.bg-surface {
  background-color: var(--surface-ground);
}

.rounded {
  border-radius: 0.5rem;
}